h1{
    color:rgb(0, 0, 0);
background-color:rgba(245, 168,  222, 0.897);    

}
body{
background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0ONslpQSwkvpwQjmO96bVP5jPp794LMeOCA&s) ;


}



img{
    width: 478px;
}

h2{    text-align: center;
    border-style: dotted;
    border-radius: 50px;
    margin: auto;

color: rgb(0, 0, 0);
font-size:100px;
text-align: center;
background-color:rgb(53, 33, 8);
}

h2{
    color:blueviolet;
    font-size:50px;
    text-align:center;
}
body{
    background-image: url(https://cdn.wallpapersafari.com/18/87/BTHld4.png);
    color: rgb(0, 0, 0);
    background-size: 2000px;
}
img{
    width:100px;
   
}
footer{
    background-color: rgba(0, 0, 0, 0.288);
    font-size: 25px;
    color: white;
}
.brawlstars{
    background-color: beige;
    text-align: center;
    width: 300px;
    margin:auto;
    border-style: dotted;
    border-color: rgb(226, 208, 43);
    border-radius: 100px;
    margin-bottom: 200px;
}