header{
    background-color:rgb(233, 146, 204);
    padding: 58px 0;
}
nav{
    position: absolute;
    top: 8px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
text-transform:uppercase;
color:rgb(150, 110, 150);
font-weight: bold;
font-size: 40px;
text-decoration: none;
}
.caixa{
    position: relative;
    width: 940px;
height: 50px;
margin: 0 auto;
}
h1 img{
    width: 150px;
}
.servicos{
    width: 940px;
    margin: 0 auto;
    padding: 0;
}
.servicos li{
    display: inline-block;
text-align: center;
width: 30%;
vertical-align: top;
margin: 0 1.5%;
padding: 30px 5px;
box-sizing: border-box;
border: 2px solid rgb(200, 117, 216);
}
.servicos h2{
    font-size: 30px;
    font-weight: bold;
}
.descricao{
    font-size: 18px;
}
.preco{ 
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px
}
.servicos img {
    width: 200px;
}
nav a:hover{
    color:rgb(0, 0, 0);
    text-decoration: underline;
}
.servicos li:hover{
    border-color:rgb(0, 0, 0)
}
.servicos li:active{
    border-color:brown;
}
.servicos li:hover h2{
    font-size: 34px; 
} 
footer{
    text-align: center;
    background-color:aqua;
    padding: 40px 0;
}
footer img{
    width: 100px;
}
.copyright{
    color:black;
    font-size: 13px;
    margin: 20px}
    main{
        width: 950px;
        margin: 0 auto;
    }
    form{
        margin: 40PX 0;
    }
    FORM label{
        display: block;
        font-size: 20px;
     margin: 0 0 10px;
    }
    form input{
        display: block;
        margin: 0 0 20px;
        padding: 10px 25px;
        width: 50%;
    }
header{
background-color: rgb(0, 0, 0);
color: rgb(0, 0, 0);
padding: 30px 0px;
}

nav{
    position: absolute;
    top: 150px;
    right: 0px;
    font-size: 30px;
}

nav li{
display: inline;
margin: 0 0 0 15px;
}/*estara  em formado de linha*/


nav a{
text-decoration: none;
}

.caixa{
    position: relative;
    width: 1480px;
    margin: 0 auto;
    height: 200px;
   
}
h1{
    font-size:50px;
}
h1 img{
    width:450px;
    position: absolute;
    top: -10px;
    left: -180px;
}
h2 {
    font-size:25px;
}
.servicos {
    width: 1480px;
    margin: 0 auto;
    padding: 50px 0;
}
.servicos li {
    display: inline-block;
    text-align: center;
    width: 33%;
    vertical-align: top;
    margin: 0;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid goldenrod;
    border-radius: 15px;
}
.servicos img {
    width: 400px;
}
.servicos h2 {
    font-size: 30px;
    font-weight: bold;
}
.descricao {
    font-size:20px;
}
.preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
nav a:hover{
    color:goldenrod;
    text-decoration: underline;
}
.servicos li:hover {
    border-color: rgb(36, 35, 35);
}
.servicos li:active {
    border-color: rgb(32, 218, 88);
}
nav a:active {
    color: aqua;
}
.servicos li:hover h2 {
    font-size: 34px;
}
footer {
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding:150px 0;
}
footer img {
    width: 150px;
}
.copyright {
    color: white;
    font-size: 15px;
    margin: 20px 0 0;
}
body {
    background-color: rgb(255, 255, 255);
}
main {
    width:1480px;
    margin:0 auto;
}
form {
    margin:40px 0;
}
form label, form p{
    display: block;
    font-size: 20px;
    margin:0 0 10px;
}
.input-padrao{
    display: block;
    margin:0 0 20px;
    padding: 5px 25px;
    width:40%;
}
.checkbox {
    margin: 20px 0;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    background-color: chocolate;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover{
    background-color: aquamarine;
    transform: scale(1.2);
}
